<!DOCTYPE html>
 <html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="javascripts/realtime.js"></script>
  </head>
  <body>
      <h1><%= title %></h1>
      <p>Responsive lacharme collection smartparking prototype </p>
      
      <p> Green indicates Parking Lot is Vacant Red indacates Occupied</p>
      <p> <strong>Parking Areas</strong></p>
      <div id='parking-lot'>slot1</div>
      <div id='parking-lot'>slot2</div>
      <div id='parking-lot'>slot3</div>
      
      
  </body>
</html> 

