body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#parking-lot {
  background-color: green;
  text-align: center;
  width: 10%;
  color: white;
  margin-top: 2%;
  margin-left: 5%;
}


